body {
  margin: 0;
  text-align: center;
}

h1 {
  width: 10%;
  margin: 0 auto 0 auto;
}

.topdiv {
  background-color: #7ebdb4;
position: relative;
  padding-top: 100px;

}

.middlediv {
  background-color: red;
  height: 200px;
  width: 200px;
  position: relative;
  top: 600px;
  left: 200px;
}

.bottomdiv {
  background-color: yellow;
  height: 200px;
  width: 200px;
  top: 1000px;
  left: 400px;
}

.bottomcloud{
position: absolute;
}

.topcloud{
position: relative;
}
